[commands]
upgrade_type = default
random_sleep = 0
network_online_timeout = 60

download_updates = yes
apply_updates = yes

reboot = when-needed
reboot_command = "shutdown -r $AUTOMATIC_REBOOT_TIME"

[emitters]
emit_via = command

[command]
stdin_format = "{body}"
command_format = "/usr/local/bin/dnf-automatic-notify"

[base]
debuglevel = 1⏎  