# This configuration is Ansible Managed.
# Manual editions may be overwritten.
ARGS='--collector.systemd --collector.systemd.unit-include="(nginx|httpd|postgresql|redis|ssh|docker|postfix|dovecot).service"'
